<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Definition for equationArranger bean -->
    <bean id = "equationArranger" class = "Quadratic.Equation.EquationArranger">
        <constructor-arg ref = "equationScanner"/>
    </bean>

    <!-- Definition for spellChecker bean -->
    <bean id = "equationScanner" class = "Quadratic.Equation.Scanner.EquationScanner"></bean>

</beans>